h1{
    text-align: center;
    color: blueviolet;
}
.ul1{
    display: inline;
    margin-left: 460px;
}
.li1{
    display: inline;
    margin: 20px; 
}
h3{
    text-align: center;
    color: brown;
}
h4{
    text-align: center;
    color: rgb(165, 122, 42);
}
.ul2{
    text-align: center;
    list-style-position: inside;
}
